<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detect Emotion</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  
  {{>header}}
  <!-- ======= LOGIN Section ======= -->
  <div class="chat">
     <h1 class="dashboardh">Let's Do Chat Analysis</h1>

     
     <div class="whatsapp">
        <img src="img/whatsapp.png" width="100px">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
     </div>
  

    <a href="results"><img src="img/telegram.png" width="100px"></a>
    <a href="results"><img src="img/twitter.png" width="100px"></a>
  </div>

  
  <!-- ======= END LOGIN Section ======= -->
</body>

</html>